@font-face {
    font-family: Miracode;
    src:  url('../fonts/Miracode/Miracode.eot'),
          url('../fonts/Miracode/Miracode.ttf') format('truetype'),
          url('../fonts/Miracode/Miracode.woff') format('woff');
}

/*  this setting makes sure padding and border 
    are included in the total width and height */
* {
    box-sizing: border-box;
}

/* responsive design columns */
[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
    width: 100%;
}

/* make spacers not show on mobile */
.spacer {
    display: none;
}

button.folioSelect {
    /* make buttons go in two columns for mobile view */
    width: 50%;
}

#title {
    font-size: 50px;
    transform: translateY(-10px);
}

img.folioImage {
    width: 100%;
    /* margin: auto; */
}

@media only screen and (min-width: 700px) {
    /* tablet view */
    button.folioSelect {width: 33%;}
    #title {font-size: 72px;
        transform: translateY(-40px);}
}

@media only screen and (min-width: 1200px) {
    /* pc view */
    /* the !important overrides any other class defs */
    .col-1 {width: 8.33% !important;}
    .col-2 {width: 16.66% !important;}
    .col-3 {width: 25% !important;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33% !important;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .spacer {display:block;}
    #title {font-size: 72px;
            transform: translateY(-40px);}
    
}

/*  all columns float left, if we don't do this 
    they basically ignore each other */
.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: Miracode;
}

.header {
    display: flex;
    color: black;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
}


.portboxHolder {
    background-image: linear-gradient(#ffb4da,#c0ebff);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(255, 104, 197, 0.801);
    float: none;
    margin: auto;
    padding-top: 100px
}
/* center this div ! */
div.folioSelect {
    justify-content: center;
}
button.folioSelect {
    color: black;
    border-radius: 3px;
    border: 1px solid #a72a64;
    background-image: linear-gradient(#ff63d0,#ca349d,#bfa9d1);
    font-family: Miracode;
}
button.folioSelect:hover {
    background-image: linear-gradient(#ffb8ea,#c569a9,#d2c8da);
    color: #c0e3ff;
}
  button.folioSelect:active {
    background-image: linear-gradient(#ffb8ea,#a1578b,#a69eac);
    color: #FFFFFF;
}
.portfolio {
    display: none;
}


.divider {
    width: 70%;
    margin: auto;
}

.foliodescr {
    text-align: right;
}