div.box {
    width: auto;
  
    border: 8px solid rgb(255, 165, 192);
    border-radius: 20px;
    height: 50em;
    max-width: 80em;
    background-color: #fdc4d7;
    box-shadow: 0px 0px 35px 20px rgba(255, 255, 255, 0.678);
    margin: auto;
    margin-top: 100px;
  }
  
  div.profile {
    color: aquamarine;
    border-right: 8px solid rgb(255, 165, 192);
    height: calc(100% - 40px);
    width: 15%;
    float: left;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    padding: 3px;
  }
  
  div.header {
    border-bottom: 8px solid rgb(255, 165, 192);
    float: top;
    padding: 5px;
    background-image: linear-gradient(rgb(255,165,192), rgba(255, 255, 255, 0.596));
  }

#pfpdiv {
    flex-grow: 3;
    border-style: dotted;
    width: 100%;
    height: 3%;
}

p#siteName {
    text-align: center;
    background: linear-gradient(to right, rgb(230, 190, 15), rgb(0, 255, 149));
    background-clip: text;
    color: transparent;
    font-size: large;
}

a.button {
  background-color: #bdb6ff;
  border-radius: 6px;
  border: 2px solid rgb(106, 115, 248); 
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 3px;
  display: block;
  font-size: small;
  max-width: fit-content;
}

a.button:hover {
  background-color: #1989f1;
  border: 2px solid #c7e4ff;
  color: #c0e3ff;
}